.container
  .row
    .col-md-9
      %h3=@seed.title
      %p= "Championed by #{@seed.creator}"
      %p= "Sponsored by #{@seed.sponsor}" 
      %br
      %p=@seed.description

      %br
      %h6 Gardeners
      .progress
        .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
          %span.sr-only 40% Complete (success)
      %h6 Water 
      .progress
        .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
          %span.sr-only % Complete
      %h6 Soil 
      .progress
        .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
          %span.sr-only 60% Complete
    .col-md-3
      .well.sidebar-nav
        %ul.nav.nav-list
          %li.nav-header 
          %li= link_to "Seed", "#"
          %li= link_to "Updates", "#"
          %li= link_to "Comments", "#"
          %li= link_to "Members", "#"
